
[defaults]
inventory      = /mnt/c/Users/vasud/abhishek-n01512235/ansible/hosts
roles_path = /mnt/c/Users/vasud/abhishek-n01512235/ansible/roles
host_key_checking = False
deprecation_warnings = False

[privilege_escalation]
become=true
become_method=sudo
become_user=root
become_ask_pass=False
